{% extends "website/layout.html" %} 
{% block title %} Delete Your Project! {%endblock %}

{% block body %}

{% if user.is_authenticated %}
<h1>{{ project.name }}</h1>
<br>
<div class="form-group">
  <form method="POST" action="">
    {% csrf_token %}
    <strong style="color: red;"> ARE YOU SURE YOU WANT TO DELETE THIS PROJECT? </strong>
    <br />
    <br />
    <button class="btn btn-danger">Delete Project</button>
  </form>
</div>
{% else %}
    You cannot delete a project without login!
    <br>
    Login <a href="{% url 'login' %}">here.</a>
{% endif %}
{% endblock %}
