{% extends "website/layout.html" %}

{% block body %}
<h1>Projects</h1>

<ul>
    {% for project in object_list %}
    <li>
        <a href="{% url 'project_details_page' project.pk %}">
            <strong>
                {{ project.name }}
            </strong>
        </a>
        (by:- {{ project.made_by }}) | {{ project.published_at }}
        <br>
        {% if user.is_authenticated %}
        <small>
            <a href="{% url 'edit_project_details_page' project.pk %}" class="btn btn-sm btn-secondary">Edit</a>
            <a href="{% url 'delete_project_page' project.pk %}" class="btn btn-sm btn-danger">Delete</a>
        </small>
        {% endif %}
        <p>
            {{ project.description }}
        </p>
    </li>
    <br>
    {% endfor %}
</ul>
{% endblock %}