{% extends "website/layout.html" %}

{% block title %}
Publish Your New Project
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
<h1> What You made? </h1>

<div class="form-group">
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Publish</button>
    </form>
</div>
{% else %}
<h2>
    Login to Create New Project Post
</h2>
<p>
    You can login <a href="{% url 'login' %}">here.</a>
</p>
{% endif %}
{% endblock %}