{% extends "website/layout.html" %}

{% block title %}
{{ project.name }}
{% endblock %}

{% block body %}
<h1> {{ project.name }} </h1>
<small>
    (by:- {{ project.made_by }}) | {{ project.published_at }}
    <br>
    
    {% if user.is_authenticated %}
    <small>
        <a href="{% url 'edit_project_details_page' project.pk %}" class="btn btn-sm btn-secondary">Edit</a>
        <a href="{% url 'delete_project_page' project.pk %}" class="btn btn-sm btn-danger">Delete</a>
    </small>
    {% endif %}
</small>

<hr>
<div>
    {{ project.description }}
</div>

<p>Link to the project:
    <a href="{{project.link}}">{{ project.name }}</a>
</p>

<a href="{% url 'index_page' %}" class="btn btn-sm btn-outline-secondary">Home</a>
{% endblock %}