{% extends "website/layout.html" %}

{% block body %}
{% if category_posts %}
<h1>{{category}}</h1>
<ul>
    {% for project in category_posts %}
        <li>
            <div>
                <a href="{% url 'project_details_page' project.pk %}">
                    <strong>
                        {{ project.name }}
                    </strong>
                </a>
                (by:- {{ project.made_by }}) | {{ project.published_at }}
                <br>
                {% if user.is_authenticated %}
                <small>
                    <a href="{% url 'edit_project_details_page' project.pk %}" class="btn btn-sm btn-secondary">Edit</a>
                    <a href="{% url 'delete_project_page' project.pk %}" class="btn btn-sm btn-danger">Delete</a>
                </small>
                {% endif %}
                <p>
                    {{ project.description|slice:":200" }}....
                </p>
            </div>
        </li>
    {% endfor %}
</ul>

{% else %}
<h2>Sorry, This page doesn't exists....</h2>
{% endif %}

{% endblock %}